
@import url('https://fonts.googleapis.com/css2?family=Lato');

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --cyan1: #70e3ea;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark2);
}

::-webkit-scrollbar-thumb {
    background: var(--dark3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark4);
}

body{
    background-color: var(--dark1);
    background-size: 400%;
    height: 100vh;
    font-family: 'Lato';
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: #2f2f46;
    min-height: 50px;
    font-size: 22px;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 43px;
  transition: 0.3s;
  cursor: pointer;
  background-color: skyblue;
  text-decoration: none;
}

.box-img-header{
    height: 100%;
}

.img-logo{
    height: 200%;
    width: 200%;
    max-height: 60px;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--dark4);
    text-decoration: underline;
    transition: .4s;
}

.box-btn-actions{
    display: flex;
    gap: 1rem;
}

:is(button,.link-action){
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.btn-action{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-action:hover{
    background-color:  var(--dark3);
    border: 1px solid var(--dark3);
}

.link-action{
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 650px;
    flex-wrap: wrap;
    font-size: 19px;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1{
    font-size: 1.7rem;
    letter-spacing: 8px;
    color: var(--white);
}

h2{
    text-align: center;
}

.title {
    font-size: 1.5rem; 
}


.first-section p{
    color: var(--white);
}

.first-section button{
    width: 200px;
}

.box-img-main{
    max-width: 450px;
    padding: 1rem;
}

.box-img-main:hover .img-profile {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.img-profile{
    width: 100%;
    border-radius: 50%;
}

:is(.second-section, .fourth-section){
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.title{
    color: var(--dark5);
}

.second-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section p{
    color: var(--dark4);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
   
}

.second-section p:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: default;
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 250px;
    border-radius: 10px;
}

.third-section > div p{
    max-width: 600px;
    color: var(--white);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.btn-github {
    background-color: #007bff;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.project-image img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-image img:hover {
    transform: scale(1.1);
}

#my-projects-list{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#my-projects-list a{
    text-decoration: none;
    color: var(--dark3);
}

#my-projects-list a:hover{
    transition: .4s;
    color: var(--dark4);
}

:is(.img-profile,.img-who-am-i){
    box-shadow: 1px 1px 1px 1px var(--cyan1);
    cursor: pointer;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

footer#contact a {
    transition: transform 0.3s ease;
    margin-left: 10px; 
}

footer#contact a:hover {
    transform: scale(1.0);
    margin-left: 20px;  
}

.project-image a {
    position: relative;
    display: inline-block;
}

.project-image a:hover .image-hover-text {
    display: block;
}

.image-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

.box-img-header img {
    width: 150px; 
    height: auto; 
    border-radius: 50%; 
    border: 2px solid aqua; 
    cursor: pointer;
    transition: transform 0.3s; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.box-img-header img:hover {
    transform: scale(1.1); 
}

.third-section {
    padding: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.project-info {
    padding: 20px;
    background-color: #f9f9f9;
}

.project-info h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.project-info p {
    margin-bottom: 0;
    color: #666;
}

.project-buttons {
    margin-top: 20px;
}

.project-buttons a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.project-buttons a:hover {
    background-color: #0056b3;
}

.project-image {
    position: relative;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.project-image:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-image:hover .overlay {
    opacity: 1;
}

.image-hover-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.project {
    position: relative; 
    display: inline-block; 
    margin: 10px; 
}

.project img {
    display: block; 
    max-width: 100%; 
    cursor: pointer;
}

.project {
    position: relative;
    display: inline-block;
}

.project .project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s;
}


.project {
    position: relative;
    display: inline-block;
}

.project .project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s;
}

.project:hover .project-description {
    opacity: 1;
}

a {
    text-decoration: none; 
    outline: none; 
}

.project-description .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.project {
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
}

 .swiper-container {
      width: 100%;
      height: auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.third-section:hover .border-white {
    border-color: #4a90e2; 
    cursor: pointer;
  }

.third-section .max-w-lg:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.second-section {
    text-align: center;
  }

.second-section p {
    margin: 10px 0;
    transition: transform 0.3s ease;
    
}

.second-section p:hover {
    transform: translateX(10px);
    cursor: pointer;
 }


   
#depoimentos {
    background-color: #34344e; 
    padding: 50px 0;
    }

.depoimentos-carousel {
    margin-top: 20px;
}

.depoimentos-carousel .owl-item {
    padding: 0 10px;
}

.depoimento {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.depoimento img {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    display: block; 
    cursor: pointer;
    border-radius: 50%;
} 


.depoimento img:hover {
    transform: scale(1.1); 
}


.depoimento p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.depoimento .nome-usuario {
    font-weight: bold;
    font-family: georgia;
    font-size: 20px;
    margin-top: 15px;
}

.services {
    margin-top: 20px;
    text-align: center;
}

.service_title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #cbdad5;
}

.servs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    width: 200px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service_content {
    padding: 20px;
}

.service i {
    font-size: 40px;
    color: #333;
}

.service p {
    font-size: 16px;
    margin-top: 10px;
}
